


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-image:url(images/background2.jpg.jpeg);
    background-size: cover;
    background-position: center;
    color: rgb(49, 106, 144);
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.signup-btn {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #4e5b89aa;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}


.banner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/Abstract\ horizontal\ watercolor\ background_\ Neutral\ light\ colored\ empty\ space\ background\ illustration.jpeg) ;
    background-size: cover;
    background-position: center;
    color: rgb(76, 65, 138);
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.focus-btn {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #4c88a4aa;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Action Section Container */
.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #f4f4f4;
    height: 100vh; /* Full screen height */
}


.action-container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1140px;
    height: 70%; 
    background: rgb(237, 232, 232);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(8, 0, 0, 0.856);
    padding-left: 20px;
}


.action-left {
    flex: 1;
    padding-right: 20px;
}

.action-left h2 {
    font-size: 36px;
    font-style: oblique;
    margin-bottom: 20px;

}

.action-left p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.live-btn {
    padding: 12px 25px;
    font-size: 20px;
    background-color: #3b4e62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:grab ;
    
}
.live-btn:hover {
    background-color: #e4a1e9; 
    
}



.action-right {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.action-right img {
    
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
