/* Footer */
.footer {
    background-color: #222;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

/* Large Logo */
.footer-logo {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Subtitle */
.footer-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ccc;
}

/* Footer Links */
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #007BFF;
}






.contact-section {
    background-color: #e8f0fe;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}


.contact-container {
    background: white;
    width: 70%;
 max-width: 1140px;
    padding: 60px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
   display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.contact-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-left h2 {
    font-size: 40px;
    color:#4b407c;
}
.contact-right {
    flex: 2;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4b407c;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    resize: vertical;
}


.contact-form textarea {
    min-height: 100px;
}
.contact-btn {
    padding: 12px 25px;
    font-size: 20px;
    background-color: rgb(81, 72, 104);
    color: white;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #3feed1;
    transform: scale(1.2);
}








.users-section {
    background-color: #f0f0f0e3;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.users-container {
    background: white;
    width: 90%;
    max-width: 1200px;
    padding: 60px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}


.users-title {
    font-size: 36px;
    margin-bottom: 40px;
    color:#4b407c;
}


.users-data {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.user-box {
    background: #aed7ee;
    padding: 90px 80px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}
.user-box h3 {
    font-size: 28px;
    color: #4b407c;
    margin-bottom: 10px;
    background-color: #f4f5f6;
}
.user-box p {
    font-size: 16px;
    color:#4b407c;
}
.user-box:hover {
    transform: translateY(-5px);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-image:url(images/background2.jpg.jpeg);
    background-size: cover;
    background-position: center;
    color: rgb(49, 106, 144);
}
.logo {
    font-size: 30px;
    font-weight: bold;
}
.signup-btn {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #4e5b89aa;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.banner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/Abstract\ horizontal\ watercolor\ background_\ Neutral\ light\ colored\ empty\ space\ background\ illustration.jpeg) ;
    background-size: cover;
    background-position: center;
    color: rgb(76, 65, 138);
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.focus-btn {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #4c88a4aa;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #f4f4f4;
    height: 100vh; 

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1140px;
    height: 70%; 
    background: rgb(237, 232, 232);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(8, 0, 0, 0.856);
    padding-left: 20px;
}

.action-left {
    flex: 1;
    padding-right: 20px;
}


.action-left h2 {
    font-size: 36px;
    font-style: oblique;
    margin-bottom: 20px;

}
.action-left p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}
.live-btn {
    padding: 12px 25px;
    font-size: 20px;
    background-color: #3b4e62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:grab ;
    
}
.live-btn:hover {
    background-color: #e4a1e9; 
    
}

.action-right {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.action-right img {
    
    max-width: 450px;
    height: auto;
    border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
